
@import './main';
@import './about.scss';
@import './education.scss';
@import './contact.scss';
@import './projects.scss';
@import './skills.scss';




//global Classes main classes

#app{
    background-color: #0A192F;
}

.outerContainer{
    padding: 0px 12%;
}

.topHeading{
    color: #ccd6f6;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 16px;
    line-height: 66px;
    
}

    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }


.cp{
    cursor: pointer;
}

.space-between{
    justify-content: space-between;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

.demo{
    height: 300px;
}

.space-between{
    justify-content: space-between;
}

.middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.display-none{
    display: none;
}


@media screen and (max-width : 480px) {
    .outerContainer{
        padding: 0px 10%;
    }
}