@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Mono:wght@100&display=swap');

#Blankscreen{
    background-color: white;
    width: 100vw;
    height: 100vh;

    .Title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: inherit;
        font-family: 'Bree Serif', serif;
        font-size: 6rem;
        font-weight: 700;
        color: #0a192f;
    }

    @media screen and (min-width: 320px) and (max-width : 768px) {
        .Title{
            font-size: 3rem;
        }
    }
}

#main{
    height: 100vh;
    width: inherit;
    position: relative;
    background-color: #0a192f;

    .Typewriter, .TypewriterBefore{
        color: #8892b0;
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 72px;
        margin-top: 24px;
        font-family: 'Poppins', sans-serif;
    }
    .introText{
        margin-top: 8%;
    }

    .TypewriterBefore{
        margin-right: 16px;
    }

    .descriptionText{
        margin-top: 24px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color : #8892b0;
        line-height: 26px;
        font-weight: 400;
        padding: 0px;
    }

    .leftText{
        color: #ccd6f6;
        font-size: 5rem;
        line-height: 88px;
        font-weight: 600;
        display: flex;
        font-family: 'Poppins', sans-serif;
        margin-top: 24px;
    }

    .greetText{
        font-family: 'Roboto Mono', monospace;
        font-size: 16px;
        color: white !important;
        line-height: 18px;
        opacity: 1;
    }

    .downloadResumeBtn{
        border-radius: 4px;
        font-size: 18px;
        padding: 16px 16px;
        border: 1px solid #64ffda;
        width: fit-content;
    }

    .resumeDownloadBox{
        margin-top: 48px;
    }

    a{
        text-decoration: none;
        color: #64ffda;
    }

    .downloadResumeBtn:hover{
        background-color : rgba(237, 253, 249, 0.1);
        transition-duration: 2s;
    }

    .socialIconsLeft{
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        display: flex;
        flex-direction: column;
        right: auto;
        z-index: 10;
        -webkit-box-align: center;
        align-items: center;
        color: #a8b2d1;
    }

    .singleIcon:hover svg{
        #fiverrIcon{
        fill: #64ffda;

        }
        color: #64ffda;
        transform: translateY(-3px);
        transition-duration: 0.3s;
    }

    .singleIcon{
        margin-bottom: 16px;
    }

    .bar{
        width: 1px;
        height: 90px;
        background-color: #ccd6f6;
    }

    .emailRightSection{
        width: 40px;
        position: fixed;
        bottom: 0px;
        right: 40px;
        display: flex;
        flex-direction: column;
        left: auto;
        z-index: 10;
        align-items: center;
        color: #a8b2d1;
    }

    .email{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: #a8b2d1;
        line-height: 18px;
        letter-spacing: 1px;
        transform: rotate(90deg);
        opacity: 0.7;
        margin-bottom: 110px;
    }   

    

    .email:hover{
        color: #64ffda;
        letter-spacing: 1.1px;
    }


    @media screen and (max-width : 480px) {
        height: 110%;

        .Typewriter, .TypewriterBefore{
            font-size: 1.8rem;
            margin-top: 0px;
            line-height: 40px;
        }

        .leftText{
            font-size: 2.75rem;
            margin-top: 0px;
            line-height: 70px;
        }

        .typeWriterTextBox{
            flex-direction: column;
        }

        .emailRightSection, .socialIconsLeft{
           display: none; 
        }

        .introText{
            margin-top: 10%;
        }
    }

    @media screen and (min-width: 481px) and (max-width : 768px) {
        height: 100%;

        .leftText{
            font-size: 2.8rem;
            margin-top: 0px;
            line-height: 70px;
        }

        .Typewriter, .TypewriterBefore{
            font-size: 2.45rem;
            margin-top: 0px;
            line-height: 40px;
        }

        .typeWriterTextBox{
            flex-direction: column;
        }

        .emailRightSection, .socialIconsLeft{
            display: none; 
         }


        .introText{
            margin-top: 10%;
        }
    }

    @media screen and (min-width: 769px) and (max-width : 1024px) {
        height: 80vh;

        .Typewriter, .TypewriterBefore{
            font-size: 2.7rem;
            margin-top: 0px;
            line-height: 40px;
        }

        .leftText{
            font-size: 3rem;
            margin-top: 0px;
            line-height: 70px;
        }

    }
}




