@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

#Blankscreen{
    background-color: #20BEEA;
    width: 100vw;
    height: 100vh;

    .Title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: inherit;
        font-family: 'Bree Serif', serif;
        font-size: 6rem;
        font-weight: 700;
    }

    .red-text{
        color: red;
    }
    
    .name{
        color: white;
    }
}

#main{
    font-family: 'Bree Serif', serif;
    padding: 16px;
    height: inherit;
    width: inherit;
    position: relative;

    .Typewriter{
        color: #20BEEA;
        font-size: 3rem;
        font-weight: 900;
    }

    .introText{
        margin-top: 10%;
    }

    .leftText{
        color: black;
        font-size: 3rem;
        font-weight: 700;
        display: flex;
    }

    .toggleSwitch{
        margin-top: 20px;
        width: 100px;
        height: 44px;
        border-radius: 40px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .selectCircle{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #20BEEA;
        position: absolute;
        z-index: 2;
        -webkit-transition: .7s;
        transition: .7s;
        border: 1px solid black;
    }

    .detail{
        margin-top: 20px;
        font-weight: 800;
        font-size: 22px;
    }
    
    .questionMark{
        margin-left: 16px;
        font-size: 50px;
    }

    .modeIcon{
        animation: rotateIcon 4s infinite;
    }

    @keyframes rotateIcon {
        0%{
            transform: rotate(45deg);
        }
        50%{
            transform: rotate(-45deg);
        }

        100%{
            transform: rotate(45deg);
        }
    }

    .darkMode{
        background-color: white;
        .selectCircle{
            margin-left: 56px;
        }

        .modeIcon{
            margin-right: 56px;
        }   

    }

    .lightMode{
        background-color: black;
        .selectCircle{
            margin-right: 56px;
        }

        .modeIcon{
            margin-left: 56px;
        }   
        
     
    }


    .toggleRow{
        display: flex;
        margin: 0;
       justify-content: space-between;
       flex-direction: row-reverse;
    }

    .userProfileImg{
        display: flex;
        min-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .lottieBox{
        position: absolute;
        bottom: 5%;
        right: 10%;
    }

    .arrowLottieBoxUp{
        width: 100px;
        height: 100px;
        position: fixed;
        right: 0%;
        bottom: 0%;
    }

    .arrowLottieBoxDown{
        width: 100px;
        height: 100px;
        position: fixed;
        right: 6%;
        bottom: 0%;
        transform: rotate(180deg);
    }

}

.ligthTheme{
    background-color: white;
}

.darkTheme{
    background-color: black;
    
    .leftText{
        color: #757575 !important;
    }
}



