@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Mono:wght@100&display=swap');


#Projects{    
    height: 100%;
    width: inherit;

    .contents{
        margin-top: 4%;
    }

    .projectContainer{
        display: flex;
        flex-wrap: wrap;
    }

    .cardTop{
        display: flex;
        justify-content: space-between;
    }

    .middleContent{
        padding-top: 5%;
    }

    .projectDetails{
        color: #8892b0;
        line-height: 20px;
        font-size: 13px;
        text-align: left;
        margin-top: -4px;
        font-family: 'Poppins', sans-serif;
        height: 70%;
        margin-bottom: 16px;
    }

    .footerContent{
        position: absolute;
        bottom: 32px;
        right: 32px;
    }

    .title{
        text-align: left;
        font-size: 1.5rem;
        line-height: 30px;
        color: #64ffda;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }

    //flipcard
    .flip-card {
        background-color: transparent;
        perspective: 1000px;
        height: 300px;
        margin-top: 5%;
        position: relative;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
      }
      
      
      .flip-card-front{
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 4px;
        overflow: hidden;
      }
      
      .flip-card-front {
        background-color: #112240;
        box-shadow: 0 10px 30px -15px;
        padding: 2rem 1.75rem;
      }

      .flip-card-front:hover{
        .projectImg{
          display: block !important;
          transform: translateY(-90%);
        }
        
      }

      .p-browser{
        height: 20px;
        background-color: #64FFDA;
        display: flex;
        align-items: center;
        position: -webkit-sticky;
        position: sticky;
        z-index: 2;
      }

      .p-circle{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 3px;
        background-color: #fff;
      }

      .imgBox{
        overflow: hidden;
        height: 100% ;
        max-height: 150px;
        border-radius: 4px;
        background-color: white;
      }

      .projectImg{
        // display: none;
        transition: all 10s ease;
      }


      @media screen and (min-width: 320px) and (max-width : 768px) {
        margin-top: 20%;
        height: 100%;

        .topHeading{
            margin-bottom: 20%;
            flex-direction: column;
        }     


      } 

      @media screen and (min-width: 769px) and (max-width : 1024px) {
        .flip-card-inner{
            overflow: hidden;
        }
      }
}